#divMenuContainer{
    width: 100%;
    background-color: #111;
    overflow: auto;
}
#divMenuContainer a {
    float: left;
    padding: 12px;
    color: white;
    text-decoration: none;
    font-size: 17px;
    width: 25%; /* Four links of equal widths */
    text-align: center;
}

#divMenuContainer a:hover {
    background-color: #000;
}